.card {
  flex-basis: 25%;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.1);
  box-shadow: 0 1px 25px rgb(var(--card-border-rgb));
  transition: background 200ms, border 200ms;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card:first-child {
  display: none;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.7rem;
  padding: 0.5rem 0rem;
}

.card h3 {
  font-size: 1rem;
  text-align: center;
}

.imgContainer {
  width: 100%;
  height: 20vh;
}

.card img:hover {
  opacity: 0.8;
}

.card img {
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 100%;
  height: 22vh;
}

.details {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  border: 1px solid greenyellow;
}

.text {
  margin-top: 10px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}
.author img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-basis: 70%;
    margin: 0rem 0.5rem;
  }
  .details {
    width: 50vw;
  }
}
